blog-serve/package-lock.json

# dependencies
/blog-serve/node_modules
/blog-home/node_modules
/blog-admin/node_modules

/blog-serve/public
/blog-home/blog-home

*.code-workspace
blog-home/package-lock.json
blog-admin/package-lock.json
