# dependencies
/blog-serve/node_modules
/blog-home/node_modules
/blog-admin/node_modules

/blog-serve/public
/blog-home/blog-home
/blog-admin/blog-admin

blog-home/package-lock.json
blog-admin/package-lock.json
blog-serve/package-lock.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace