$--ear-title-text: #3f414d;
$--ear-body-text: #777D74;
$--ear-primary: #50b5ff;
$--ear-secondary: #a09e9e;
$--ear-success: #49f0d3;
$--ear-warning: #ffba68;
$--ear-danger: #ff9b8a;
$--ear-info: #d592ff;
$--ear-dark: #3f414d;
$--ear-light: #fafafb;
$--ear-white: #fff;
$--ear-black: #000;
$--ear-light-primary: #f5fbff;
$--ear-light-secondary: #f1f2f1;
$--ear-light-success: #eefff2;
$--ear-light-danger: #fff5f4;
$--ear-light-warning: #fffcf3;
$--ear-light-info: #eee6f5;
$--ear-light-dark: #f0efef;
$--ear-primary-hover: #2aa3fb;
$--ear-border-light: #f1f1f1;
$--ear-dark-primary: #29324f;
$--ear-dark-secondary: rgba(160,158,158,0.2);
$--ear-dark-success: rgba(73,240,211,0.2);
$--ear-dark-danger: rgba(255,155,138,0.2);
$--ear-dark-warning: rgba(255,186,104,0.2);
$--ear-dark-info: rgba(213,146,255,0.2);
$--ear-primary-hover: #2aa3fb;
$--ear-border-light: #f1f1f1;
$--ear-dark-bg: #182039;
$--ear-dark-box: #1e2745;
$--ear-dark-body-text: #8c91b6;
$--ear-dark-title-text: #8c91b6;
$--ear-border-dark: #252e4b;